* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}


.container {
    display: flex;
    height: 100%;
}

.image-container {
    width: 80%;
    height: 100%;
    background: gray;
}

.caption-container {
    width: 20%;
    height: 100%;
    background: #141d26;
    padding: 0px 10px;
    justify-content: space-around;
}

img {
    margin: auto;
}

.caption-user-info-container {
    display: flex;
}

.caption-username-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
}

.profile {
    border-radius: 50%;
    width: 6vh;
    height: 6vh;
    text-align: center;
    margin: 10px;
}

.action-content {
    display: flex;
    justify-content: space-around;
    border-bottom: solid 2px gray ;
}

.text-white {
    color: white;
}

.text-gray {
    color: gray;
}

.text-link {
    color: cornflowerblue;
}
