.profile {
    border-radius: 50%;
    width: 10vh;
    height: 10vh;
    text-align: center;
    margin-right: 10px;
}

.container {
    width: 25%;
    border: solid 1px gray;
    padding: 10px 20px;
    justify-content: space-around;
}

.post-container {
    display: flex;
}

.content-container {
    height: 80%;
}

.profile{
    border-radius: 50%;
    width: 5vh;
    height: 5vh;
    text-align: center;
    margin-right: 10px;
}

.text-white {
    color: white;
}

.text-gray {
    color: lightgrey;
}

img.left{
    width: 100%;
    height: 100%;
}

img.right {
    width: 100%;
    height: 50%;
}

.image-left-container {
    width: 50%;
}

.image-right-container {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.picture-content{
    border: solid 10px transparent;
    border-radius: 20px;
    width: 95%;
    height: 25%;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}

.action-content {
    display: flex;
    justify-content: space-around;
}

body {
    background: #141d26;
}
