.profile {
    border-radius: 50%;
    width: 10vh;
    height: 10vh;
    text-align: center;
    margin-right: 10px;
}

.content-container {
    background: white;
    display: flex;
    width: 25%;
    padding: 10px;
    margin-bottom: 10px;
}

.text-gray {
    color: gray;
}

.details-container {
    line-height: 50%;
}

body {
    background: lightgrey;
    display: flex;
    flex-direction: column;
}
